<div>
	<div class='col-lg-2'></div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Book a hotel</h3>
		</div>
		<div class="panel-body">
			<div>


				<form class='col-lg-12'>
					<div class="form-group well-lg">
						<label class='col-lg-4'>Choose your destination</label> <select
							class='col-lg-2' ng-change="getHotelsByCity()"
							class="form-control"
							ng-options="city as city.name for city in cities track by city.cityId"
							ng-model="bookingDto.selectedCity"></select><span
							class='col-lg-6'></span>
					</div>

					<div class="form-group well-lg">
						<label class='col-lg-4' for="bookingDto.selectedHotel">Hotel
							available in the city </label><select class='col-lg-2'
							ng-options="hotel as hotel.name for hotel in hotels track by hotel.hotelId"
							ng-model="bookingDto.selectedHotel"></select>
					</div>

					<div class="form-group well-lg">
						<label class='col-lg-4' for="noOfRooms">Number of rooms to
							book</label> <input type="number" class='col-lg-2' name="noOfRooms"
							ng-model="bookingDto.noOfRooms">
					</div>


					<div class="form-group well-lg">
						<label class='col-lg-4' for="checkInDate">Check-in date</label><input
							type="date" class='col-lg-2' name="checkInDate"
							ng-model="bookingDto.checkInDate">
					</div>
					<div class="form-group well-lg">
						<label class='col-lg-4' for="checkOutDate">Check-out date</label><input
							type="date" class='col-lg-2' name="checkOutDate"
							ng-model="bookingDto.checkOutDate"
							ng-change='validateCheckOutDate()'><span
							ng-show='errorMessage'>{{errorMessage}}</span>
					</div>

					<div class='col-lg-12'>
						<button class='col-lg-offset-1 col-lg-2' type="submit"
							ng-click="cancelBooking()" class="btn btn-default">Cancel</button>
						<button class='col-lg-offset-1 col-lg-2' type="submit"
							ng-click="submitBookingForm()" class="btn btn-default">Submit</button>
						<div ng-show='message'>{{message}}{{bookingId.data}}</div>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>